{% extends 'hod/base1.html' %}
{% load static %}
{% block content %}
<style>
body {background-color: powderblue;}
h2   {color:black;}
</style>
<br>
<br>
<br>
<br>
<center><h2><th> REGISTERED HOD DETAILS</th></h2></center>
<table class="table table-striped table-success">
    <tr>
        <th>HOD Name</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Department</th>
        <th>Designation</th>
        <th>Photo</th>
        <th>Remove</th>

        


    </tr>
    {% for ls in data %}
      <tr>
          <td>{{ls.hname}}</td>
          <td>{{ls.address}}</td>
          <td>{{ls.gender}}</td>
          <td>{{ls.phoneno}}</td>
          <td>{{ls.email}}</td>
          <td>{{ls.dpt}}</td>
          <td>{{ls.desi}}</td>
          <td>{{ls.photo}}</td>
          <td><a href="/adminApp/hoddelt?idn={{ls.id}}">Delete</a></td>
      </tr>
      
    {% endfor %}
</table>
{% endblock %}